#CONFIG_SOC_SERIES_RISCV_ANDES_V5=y
CONFIG_SOC_SERIES_RISCV_VIRT=y
CONFIG_SOC_RISCV_VIRT=y

#CONFIG_SOC_RISCV_ANDES_AE350=y
CONFIG_BOARD_ADP_XC7K_AE350=y
CONFIG_XIP=n
CONFIG_PLIC=y
CONFIG_RISCV_MACHINE_TIMER=y
CONFIG_CONSOLE=y
CONFIG_STDOUT_CONSOLE=y
CONFIG_UART_CONSOLE=y
#### JRM ####
CONFIG_SMP=y
CONFIG_MP_NUM_CPUS=2
#CONFIG_MULTITHREADING=y
#CONFIG_RUNTIME_ERROR_CHECKS=y
#CONFIG_SRAM_REGION_PERMISSIONS=y
CONFIG_RAM_CONSOLE=y
CONFIG_STACK_SENTINEL=y
#CONFIG_HW_STACK_PROTECTION=y
CONFIG_RISCV_PMP=y
#CONFIG_ASSERT=n
#CONFIG_FORCE_NO_ASSERT=y
#CONFIG_DEBUG=y
#CONFIG_LOG=y
####### JRM #@#####
#
CONFIG_QEMU_ICOUNT=n
#CONFIG_QEMU_ICOUNT_SHIFT=6

CONFIG_IDLE_STACK_SIZE=1024

#CONFIG_SRAM_SIZE=65536

# Serial driver options
CONFIG_SERIAL=y
CONFIG_UART_NS16550=y

# GPIO driver options
#CONFIG_GPIO=y

# RV64 options
#CONFIG_RV64I_CPU=y

# FPU (single precision) options
#CONFIG_FPU=y
#CONFIG_FPU_SHARING=y
#CONFIG_FLOAT_HARD=y
#CONFIG_SINGLE_PRECISION_FPU=y

# FPU (double precision) options
#CONFIG_FPU=y
#CONFIG_FPU_SHARING=y
#CONFIG_FLOAT_HARD=y
#CONFIG_DOUBLE_PRECISION_FPU=y

# HW DSP options
#CONFIG_SOC_ANDES_V5_HWDSP=y

# Cache options
#CONFIG_CACHE_ENABLE=y

# Nocache memory options
#CONFIG_SOC_ANDES_V5_PMA=y
#CONFIG_NOCACHE_MEMORY=y
#
