CONFIG_SOC_SERIES_RISCV_ANDES_V5=y
CONFIG_SOC_RISCV_ANDES_AE250=y
CONFIG_BOARD_ADP_XC7K_AE250=y
CONFIG_XIP=n
CONFIG_PLIC=y
CONFIG_RISCV_MACHINE_TIMER=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_PRINTK=y

# Serial driver options
CONFIG_SERIAL=y
CONFIG_UART_NS16550=y

# GPIO driver options
CONFIG_GPIO=y
CONFIG_GPIO_ANDES_ATCGPIO100=y

CONFIG_COUNTER=y
CONFIG_COUNTER_ANDES_ATCPIT100=y
CONFIG_I2C=y
CONFIG_I2C_ANDES_ATCIIC100=y
CONFIG_SPI=y
CONFIG_SPI_ANDES_ATCSPI200=y
CONFIG_FLASH=y
CONFIG_SPI_NOR=y
CONFIG_BOOT_BANNER=y

# RV64 options
#CONFIG_RISCV_RV64=y

# FPU (single precision) options
#CONFIG_FPU=y
#CONFIG_FPU_SHARING=y
#CONFIG_FLOAT_HARD=y
#CONFIG_SINGLE_PRECISION_FPU=y

# FPU (double precision) options
#CONFIG_FPU=y
#CONFIG_FPU_SHARING=y
#CONFIG_FLOAT_HARD=y
#CONFIG_DOUBLE_PRECISION_FPU=y

# RV32E options
#CONFIG_EMBEDDED_ISA=y

# HW DSP options
#CONFIG_SOC_ANDES_V5_HWDSP=y
