# Kconfig Andes ATCSPI200 SPI configuration options
#
# Copyright (c) 2019 Andes Technology Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig DISPLAY_ANDES_ATFLCDC100
	bool "Andes ATFLCDC100 display driver"
	depends on SOC_RISCV_ANDES_AE350
	depends on !CACHE_ENABLE || SOC_ANDES_V5_CM || NOCACHE_MEMORY
	help
	  Enable support for Andes ATFLCDC100 display driver.


if DISPLAY_ANDES_ATFLCDC100

choice ANDES_ATFLCDC100_PANEL
	prompt "Panel selection"
	default PANEL_AUA036QN01

config PANEL_AUA036QN01
	bool "Panel AUA036QN01"

config PANEL_LW500AC9601
	bool "Panel LW500AC9601"

config PANEL_AUA070VW04
	bool "Panel AUA070VW04"

endchoice

choice ANDES_RGB_FORMAT
	prompt "Andes RGB format selection"
	default ANDES_RGB_565

config ANDES_RGB_565
	bool "Andes RGB565 format"

config ANDES_RGB_888
	bool "Andes RGB888 format"

endchoice
endif # DISPLAY_ANDES_ATFLCDC100
